@use "../../styles/abstracts" as *;

.about-app {
    ol li,
    ul li {
        padding-left: 1rem;
        margin-left: 2rem;
    }
    ul li {
        list-style-type: "👍";

        ul li {
            list-style-type: "👉";
        }
    }

    ol li {
        list-style-type: decimal;
    }

    &__requirement,
    &__description {
        margin: 1rem auto;
    }
}

.about-me-btn {
    @include ctaButton;
    margin: 1rem 0;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    &__avatar {
        @include avatarRound(40%);
    }

    &__name {
        font-weight: 500;
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    }

    &__links {
        display: flex;
        align-items: center;

        .link {
            svg {
                width: 40%;
                height: 40%;
            }
        }

        .link .linkedin path {
            fill: $color-primary-dark;
        }
    }
}
