@use "../../styles/abstracts" as *;

.user {
    background-color: $color-neutral;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.7rem;
    font-family: $font-secondary;
    transition: background-color 0.2s ease-in-out;

    @include layeredShadow;

    &:hover {
        background-color: $color-neutral-dark;
    }

    &__avatar {
        text-align: center;
        @include avatarRound(15%);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-left: 0.5rem;
        line-height: 2;
        height: 100%;

        &__name {
            font-size: clamp(0.875rem, 5vw, 1.25rem);
            font-weight: bold;
            color: #333;
            font-weight: 700;
        }
        &__see-more-details {
            font-size: clamp(0.75rem, 5vw, 0.875rem);
            color: #999;
        }
    }
}

li:nth-of-type(even) .user {
    background-color: $color-neutral-light;

    &:hover {
        background-color: $color-neutral-dark;
    }
}
