$colors: (
    primary: (
        500: 212 100% 50%,
    ),
    secondary: (
        300: 217 20% 51%,
        400: 217 35% 45%,
        500: 217 21% 21%,
    ),
    neutral: (
        300: 0 0% 100%,
        400: 227 100% 98%,
        500: 227 100% 88%,
    ),
);

$color-primary: hsl(212 100% 50%);
$color-primary-light: hsl(212 100% 60%);
$color-primary-dark: hsl(212 100% 40%);
$color-primary-transparent: hsl(212 100% 50%);
$color-secondary: hsl(217 20% 51%);
$color-secondary-dark: hsl(218, 35%, 45%);
$color-secondary-very-dark: hsl(217 21% 21%);
$color-neutral: hsl(0 0% 100%);
$color-neutral-light: hsl(227 100% 98%);
$color-neutral-dark: hsl(227 100% 95%);
