// .box-shadow {
//     box-shadow: 0px 1.3px 2.1px hsla(227, 100%, 78%, 0.019),
//         0px 3.2px 5.3px hsla(227, 100%, 78%, 0.027),
//         0px 6.6px 10.8px hsla(227, 100%, 78%, 0.031),
//         0px 13.5px 22.3px hsla(227, 100%, 78%, 0.041),
//         0px 37px 61px hsla(227, 100%, 78%, 0.06);
// }

.box-shadow {
    -webkit-box-shadow: 3px 9px 26px -15px rgba(75, 89, 157, 1);
    -moz-box-shadow: 3px 9px 26px -15px rgba(75, 89, 157, 1);
    box-shadow: 3px 9px 26px -15px rgba(75, 89, 157, 1);
}
