@use "../../styles/abstracts" as *;

.user-repos {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    h2 {
        font-size: clamp(1rem, 5vw, 1.5rem);
        font-weight: 700;
        margin-block: 1rem;
    }
}

.repo-card {
    @include layeredShadow;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;

    &:nth-of-type(even) {
        background-color: $color-neutral-light;
    }

    &:hover {
        background-color: $color-neutral-dark;
    }

    &__details {
        span {
            font-size: clamp(0.8rem, 2vw, 1.2rem);
            font-weight: 500;
            color: $color-secondary-very-dark;
            margin-block: 0.5rem;
        }
    }

    &__commits {
        padding-inline: 1rem;
        margin-inline: 1rem;
        list-style-type: "👉";
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            margin-left: -2rem;
            color: $color-secondary-very-dark;
            font-weight: 500;
            span {
                color: $color-secondary-dark;
                margin-block: 0.5rem;
            }
        }

        li {
            padding-left: 1rem;
        }
        li:nth-child(odd) {
            background-color: $color-neutral-light;
        }
    }
}
